.container{
  display: flex;
  flex-direction: column;
  width: 60vw;
  height: 30vh;
  border: 0.5px solid black;
  background-color: aqua;
  align-items: center;
  justify-content: center;
}

.container textarea {
  width: 80%;
  font-size: 1.5rem;
}

.submit{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  width: 40vw;
}

.submit button {
  width: 10rem;
  height: 2rem;
  border: 1px solid gray;
  color: black;
  font-size: 1.25rem;
  border-radius: 2rem;
}
.postList{
  margin-top: 1rem;
}

.postItem{
  padding: 1rem;
  border: 1px solid black;
}